.flows.json.backup
[
    {
        "id": "50680a7253579765",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d32d18939c0006b2",
        "type": "http in",
        "z": "50680a7253579765",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "3ba7770524af0abd"
            ]
        ]
    },
    {
        "id": "90cb908694cc287f",
        "type": "http response",
        "z": "50680a7253579765",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "3ba7770524af0abd",
        "type": "change",
        "z": "50680a7253579765",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "90cb908694cc287f"
            ]
        ]
    }
]